.videoIntro h2 {
  display: none;
}

.intro__tituloContainer {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  left: 5%;
  top: calc(50% - 37px);
  /* border: solid 4px white; */
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro__tituloContainer h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: BrlwSC_Light;
  margin: 0;
  background-color: black;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

.intro__tituloContainer h2 {
  position: relative;
  margin: 6px auto;
  padding: 0 15px 5px 15px;
  display: block;
  font-family: BrlwSC_Light;
  font-size: 26px;
  line-height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0;
  animation: aparecer 3s ease-in-out 7s infinite;
}

.intro__tituloContainer h2:hover {
  cursor: pointer;
  opacity: 1;
}

.intro__videoContainer {
  position: absolute;
  width: 500%;
  margin: auto;
  top: -70px;
  left: -200%;
}

.videoIntro {
  width: 100%;
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.span_black {
  font-family: BrlwSC_Black !important;
}

@media (min-width: 600px) {
  .intro__videoContainer {
    position: absolute;
    width: 800px;
    left: calc(50% - 400px);
    top: calc(50vh - 225px);
  }

  .intro__tituloContainer {
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50vh - 52px);
  }

  .intro__tituloContainer h1 {
    font-size: 72px;
  }
}
