.dimensions {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.37);
  width: 180px;
  height: 28px;
  left: calc(50% - 90px);
  bottom: 10px;
  z-index: 2000;
}

.dimensions p {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 12px;
  line-height: 28px;
}

@media (max-width: 600px) {
.dimensions {
  bottom: 30px;
}
}
