.modal {
  position: fixed;
  top: 0;
  left: 10%;
  display: none;
  width: 80%;
  height: auto;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.379);
  opacity: 1;
}
.modal.active {
  display: block;
}
.modal__iframe {
  position: relative;
  width: 80%;
  left: 10%;
  height: 800px;
  border: none;
}
