.exactas {
  position: relative;
  left: 12.5%;
  width: 76%;
  height: 400px;
}

.exactas__titulo {
  position: relative;
  font-size: 70px;
  display: inline-block;
  margin: 120px 0 20px 10px;
  font-family: BrlwSC_Bold;
  color: #fff;
  text-decoration: none;
  z-index: 100;
}

.exactas__titulo:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.exactas__imagen1 {
  position: absolute;
  top: 200px;
  margin-left: 100px;
  width: calc(66.6% - 140px);
  left: 33.3%;
  z-index: 0;
  filter: brightness(60%) contrast(180%);
  -webkit-filter: brightness(80%) contrast(120%);
}

.exactas__parrafo {
  position: relative;
  color: #fff;
  left: 10px;
  width: calc(33.3%);
  z-index: 100;
}

.exactas__containerVideos {
  position: absolute;
  top: 0;
  width: 50%;
  left: 37.5%;
}

.videoHome--exactas {
  position: relative;
  flex-direction: column;
  top: 140px;
  left: calc(33.3% + 20px);
  width: 66.6%;
  margin-bottom: 20px;
}

@media (max-width: 600px) { 
  .exactas {
    width: calc(100vw - 40px);
    left: 20px;
  }
  .exactas__titulo {
    font-size: 30px;
    top: 0;
    margin: 0;
    left: 0;
  }
  .exactas__parrafo {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin:0;
    top: 20px;
    left: 0;
  }
  .exactas__imagen1 {
    position: relative;
    top: 20px;
    width: 100%;
    left: 0;
    margin: 0;
  }
  .exactas__containerVideos {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
  }
  .videoHome--exactas {
    position: relative;
    flex-direction: column;
    top: -20px;
    left: 15%;
    width: 70%;
    margin-bottom: 20px;
  }
}
