.homeSalaArana,
.homeLaboratorio {
  position: relative;
  top: 40px;
  width: 100%;
}

.homeSalaArana__containerImg,
.homeLaboratorio__containerImg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 12.5%;
  width: 37.5%;
}

.homeLaboratorio__containerImg {
  left: 25%;
}

.homeSalaArana__letrasGigantes {
  position: absolute;
  width: 62.5%;
  left: 37.5%;
  top: 120px;
  overflow: hidden;
  z-index: 200;
}

.homeSalaArana__letrasGigantes h3 {
  line-height: 90px;
  margin: 0;
  font-size: 170px;
  color: white;
  opacity: 0.1;
  white-space: nowrap;
}

.homeSalaArana__img,
.homeLaboratorio__img {
  /* -webkit-filter: brightness(20%); */
  filter: brightness(60%) contrast(180%);
  width: 100%;
}

.homeSalaArana__containerTitulo,
.homeLaboratorio__containerTitulo {
  position: absolute;
  width: 220px;
  height: 50px;
}

.homeSalaArana__titulo,
.homeLaboratorio__titulo {
  display: block;
  position: absolute;
  margin: 0;
  color: white;
  font-family: BrlwSC_Bold;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
}

.homeSalaArana__titulo--columnas {
  bottom: -10%;
  right: -105%;
}

.homeSalaArana__subrayTitulo {
  position: absolute;
  height: 4px;
  background-color: white;
  width: 50%;
  bottom: -6px;
}

.homeSalaArana__subrayTitulo--columnas {
  bottom: calc(-10% + 6px);
  left: 0;
  width: 30%;
}

.homeSalaArana__imgSalaColumnas {
  position: absolute;
  width: 33.3%;
  left: 166.6%;
  top: 100%;
}

/*videos*/
.videoHome {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  z-index: 1000;
}
.videoHome video {
  -webkit-filter: none;
  filter: none;
  border-radius: 0;
  box-shadow: none;
}

.videoHome h2 {
  display: block;
  color: #fff;
  background-color: #000;
  line-height: 26px;
  padding: 0 5px 3px 5px;
}

/*video lidiaBorda*/
.videoHome--lidiaBorda {
  width: 66.8%;
  top: 8%;
  left: 66.6%;
}
/*video noeliaMoncada*/
.videoHome--noeliaMoncada {
  width: 66.8%;
  top: 85%;
  left: 33.3%;
}
/*video electrochongo*/
.videoHome--electrochongo {
  width: 66.8%;
  top: 15%;
  left: 66.6%;
}
