.salaArana {
  position: relative;
}

.salaArana h1 {
  position: relative;
  display: inline-block;
  margin: 120px 0 20px 0;
  font-size: 72px;
  color: #fff;
  left: calc(12.5% + 10px);
  text-decoration: none;
}

.salaArana h1:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}

.salaArana p {
  position: relative;
  color: #fff;
  left: calc(12.5% + 10px);
  width: calc(37.5% - 20px);
}

.salaArana img {
  position: relative;
  color: #fff;
  left: 12.5%;
  width: 37.5%;
  filter: brightness(60%) contrast(180%);
  -webkit-filter: brightness(80%) contrast(120%);
}

.salaArana__containerVideos {
  position: absolute;
  top: 0;
  width: 37.5%;
  left: 37.5%;
}

.videoHome--salaArana1 {
  position: relative;
  top: 120px;
  left: 33.3%;
  width: 66.6%;
  margin-bottom: 20px;
}
.videoHome--salaArana2 {
  position: relative;
  top: 120px;
  left: 33.3%;
  width: 66.6%;
  margin-bottom: 40px;
}
.videoHome--salaArana3 {
  position: relative;
  top: 120px;
  left: 0;
  width: 66.6%;
}
