.seccion {
  position: relative;
  margin-bottom: 300px;
}
.seccion__titulo,
.seccion__titulo--gAltas, .seccion__titulo--gBajas {
  display: inline-block;
  margin: 120px 0 20px 0;
  font-family: BrlwSC_Bold;
  color: #fff;
  text-decoration: none;
}
.seccion__titulo {
  position: relative;
  left: calc(12.5% + 10px);
  font-size: 70px;
}
.seccion__titulo--gAltas {
  position: relative;
  font-size: 50px;
  margin: 0;
}
.seccion__galeriasAltas {
  position: absolute;
  left: calc(50% + 30px);
  bottom: 460px; /*esto*/
}
.seccion__titulo:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.seccion__titulo--gAltas:after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.seccion__titulo--gBajas:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.seccion__parrafo {
  position: relative;
  color: #fff;
  left: calc(12.5% + 10px);
  width: calc(37.5% - 220px);
  margin-top: 0 !important;
}

.seccion__parrafo.gAltas {
  left: 0;
  width: 66.6%;
}

.seccion__imagen1 {
  position: relative;
  color: #fff;
  left: 12.5%;
  width: 37.5%;
  filter: brightness(60%) contrast(180%);
  -webkit-filter: brightness(80%) contrast(120%);
}

.seccion__containerVideos {
  position: absolute;
  top: 0;
  width: 37.5%;
  left: 37.5%;
}

.seccion__galeriasBajas--titulo {
  position: relative;
  left: calc(12.5% + 10px);
}

.seccion__parrafo.gBajas {
  width: 500px;
}

/*PROCU*/

.videoHome--procu1 {
  position: relative;
  flex-direction: column;
  top: 240px;
  left: calc(33.3% + 20px);
  width: 66.6%;
  margin-bottom: 20px;
}
.videoHome--procu2 {
  position: absolute;
  flex-direction: column;
  top: 270px; /*esto*/
  left: 0;
  width: 50%;
  margin-bottom: 20px;
}
.videoHome--procu3 {
  position: absolute;
  flex-direction: column;
  top: 560px; /*esto*/
  left: -200px;
  width: 50%;
  margin-bottom: 20px;
}

.claseX {
  position: relative;
  display: inline-block;
  margin: 120px 0 20px 0;
  font-family: BrlwSC_Bold;
  font-size: 50px;
  color: #fff;
  left: calc(12.5% + 10px);
  text-decoration: none;
}

/*SALA ARAÑA*/

.videoHome--salaArana1 {
  position: relative;
  flex-direction: column;
  top: 160px;
  left: 33.3%;
  width: 66.6%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.videoHome--salaArana2 {
  position: relative;
  top: 160px;
  left: 20%;
  width: 66.6%;
  margin-bottom: 40px;
  margin-left: 0px;
}

/*SALA COLUMNAS*/
.columnas {
  position: relative;
  width: 500px;
  top: 90px; /*esto*/
  left: calc(33.3% + 20px);
}
.seccion__titulo--columnas {
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: 7;
}

.seccion__titulo--columnas:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}

.seccion__parrafo--columnas {
  position: relative;
  color: #fff;
  left: 0;
  top: 90px;
  width: 100%;
}

.seccion__imagen2 {
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  top: 350px;
  z-index: 0;
  filter: brightness(60%) contrast(180%);
  -webkit-filter: brightness(80%) contrast(120%);
}

.videoHome--salaArana3 {
  position: relative;
  top: 210px;
  left: -150px;
  width: 66.6%;
}

/*Archivo*/
.Archivo {
  position: relative;
  top: -250px;
  width: 66.6%;
  left: 12.5%;
  height: 400px;
}
.Archivo__titulo {
  position: relative;
  font-size: 70px;
  display: inline-block;
  margin: 0;
  font-family: BrlwSC_Bold;
  color: #fff;
  text-decoration: none;
}
.Archivo__titulo::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.Archivo__parrafo {
  position: relative;
  color: #fff;
  left: 0;
  width: calc(47.5% - 20px);
}
.videoHome--archivo {
  width: 40%;
  position: absolute;
  top: 40px;
  left: 50%;
}
/*PATIO*/
.Patio {
  position: relative;
  top: -250px;
  width: 66.6%;
  left: 12.5%;
  height: 400px;
}
.Patio__titulo {
  position: relative;
  font-size: 70px;
  display: inline-block;
  margin: 0;
  font-family: BrlwSC_Bold;
  color: #fff;
  text-decoration: none;
}
.Patio__titulo::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
}
.Patio__parrafo {
  position: relative;
  color: #fff;
  left: 0;
}
.Patio__cajaTexto {
  position: absolute;
  left: 42%;
}
.videoHome--patio {
  width: 40%;
  top: 20px;
}

@media (max-width: 1440px) {
  .seccion {
    width: calc(100vw - 40px);
    left: 20px;
  }
  .seccion__titulo {
    font-size: 30px;
    margin: 0;
    left: 0;
  } 
  .seccion__parrafo.seccion__parrafo--PP {
    top: 20px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
  .seccion__imagen1 {
    position: relative;
    width: 100%;
    left: 0;
  }
  .videoHome--procu1 {
    width: 200%;
    left: -40%;
    top: 550px;
  }
  .seccion__galeriasAltas {
    position: relative;
    left: 0;
    top: 80px;
    bottom: inherit;
  }
  .seccion__titulo--gAltas{
    font-size: 30px;
    margin: 0;
    left: 0;
  }
  .seccion__parrafo.gAltas {
    top: 20px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
  .videoHome--procu2 {
    position: relative;
    top:20px;
    width: 80%;
  }
  .videoHome--procu3 {
    position: relative;
    float: right;
    top:-20px;
    left: auto;
    right: 0;
    width: 80%;
  }
  .seccion__galeriasBajas--titulo {
    position: relative;
    width: max-content;
    top: 60px;
    left:0;
  }

  .seccion__titulo--gBajas {
    position: relative;
    left: 0;
    font-size: 30px;
    color: #fff;
    margin: 0;
  }
  .seccion__titulo--gBajas:after {
    color: #fff;
    content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-width: 0 0 4px;
  border-style: solid;
  }
  /* .seccion__galeriasBajas--parrafo {
    
  } */
  .seccion__parrafo.gBajas{
    position: relative;
    top: 80px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
}
