ul li {
  list-style: none;
}

.navBar {
  display: block;
  height: 0;
  background: #666666;
}

/* .navBar.isActive {
  display: block;
} */

.navBar__menu {
  top: 0 !important;
  position: relative;
  padding: 0 10px;
  min-width: 1200px;
  left: calc(50% - 600px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1500;
}

.navBar__menuItem {
  position: relative;
  height: 46px;
  font-family: BrlwSC_Bold;
  font-size: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.navBar__textContainer {
  padding: 0 20px;
}

.navBar__menuItem:hover {
  cursor: pointer;
  background-color: #666666;
}

.navBar__menuItem a {
  text-decoration: none;
  color: inherit;
}

.navBar__icono {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  top: 4px;
  left: 4px;
}

.navBar__subMenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 46px;
  padding: 0;
  height: 46px;
}

.navBar__subMenu.active {
  display: block;
}

.navBar__submenuItem {
  font-size: 18px;
  font-family: BrlwSC_Regular;
  height: 46px;
  line-height: 46px;
  padding: 0 18px;
  background-color: #191919;
}

.navBar__submenuItem:hover {
  font-family: BrlwSC_Black;
  color: #000;
  background-color: #fff;
}

.bars {
  position: absolute;
  display: flex;
  line-height: 59px;
  height: 59px;
  top: 0;
  left: 0;
  right: auto;
  margin: 20px;
  display: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.bars-icon {
  font-size: 30px;
}

@media (max-width: 600px) {
  .bars {
    display: block;
  }
  .navBar__menu {
    position: relative;
    flex-direction: column;
    min-width: inherit;
    width: 100vw;
    left:0;
    background-color: rgb(0, 0, 0);
    padding: 50px 0;
  }
  .navBar__subMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
    top: inherit;
    height: inherit;
  }
  .navBar__subMenu.active{
    display:flex;
  }
  .navBar__menuItem a {
    position: relative;
  }
  .navBar__menuItem {
    position: relative;
    flex-direction: column;
    height: auto;
    min-height: 46px;
  }
  .navBar__submenuItem {
    position: relative;
    z-index: 400;
  }
  .navBar__textContainer {
    line-height: 46px;
  }
}
 
@media (min-width: 601px) and (max-width: 1150px) {
  .navBar__menu {
    min-width: 800px;
    width: 980px;
    left: calc(50% - 490px)
  }
  .navBar__textContainer {
    font-size: 22px;
  }
  .navBar__submenuItem {
    font-size: 16px;
  }
}
